{% extends 'base.html.twig' %}

{% block title %}SymGame - Modifier mon mot de passe{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Mettre à jour mon mot de passe</h1>

        {# Message Flash #}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        {{form(form)}} {#Formulaire#}
    </div>

{% endblock %}
